body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body > div {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav, main, footer {
    width: 100%;
}
nav { margin-top: 3rem;}
nav a.active { font-weight: 600; text-decoration: none; color: rgb(34,34,34); }
nav a { color: rgb(34,34,34); text-decoration: none; font-weight: 600; font-size: 1rem; padding: 0.25rem 0.5rem; display: inline-block; border-radius: 4px; }
main a { color: rgb(128, 58, 0); font-weight: 700; text-decoration: none; }
main {
    width: calc(100% - 3rem);
    padding: 1.5rem;
    background-color: rgb(177, 178, 179);
    border-radius: 0.5rem;
}

main ul.EJS {
    font-family: 'Courier New', Courier, monospace;
}

footer {
    text-align: center;
    color: gray;
}